version: '3.8'
services:
  zkteco-listener:
    build: .
    image: timestamp-attendance:latest
    container_name: timestamp-attendance
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - MSSQL_SERVER
      - MSSQL_DATABASE
      - MSSQL_USER
      - MSSQL_PASSWORD
      - MSSQL_ODBC_DRIVER
    network_mode: bridge
    volumes:
      - ./:/app
    stdin_open: true
    tty: true
